header {
	margin-bottom:30px;
}

.imgeffect {
		display: inline-block;
		max-width: 100%;
		height: auto;
		padding: 4px;
		line-height: 1.42857143;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		-webkit-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
}


.imgeffect:hover
{
	border-radius: 70%;
	border: 2px solid #ddd50e;
}

.ratingstext{
	font-size: smaller;
}

.viewdetails{
	position: relative;
}

.img-details
{
		display: inline-block;
		max-width: 100%;
		height: 150%;
		padding: 4px;
		line-height: 1.42857143;
		background-color: #170d0dcc;
		border: 1px solid #ddd;
		border-radius: 4px;
		-webkit-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
}

.song-details{
	list-style: none;
	line-height: 50px;
	text-align: center;
	background-color: #170d0dcc;
}


.song-details a {
	text-decoration: none;
	color:whitesmoke;
}

footer{
	background: #e7e7e7;
}

footer a:hover{
	text-decoration: none;
}

.leftfooter{
	float: left;
	margin-left:8%;
}

.navbar{
	margin-bottom:0px;
}

body{
	background: url('/static/img/back1.jpg');
	background-size: cover;
	color: #edeaea;
}

.breadcrumb{
	color:#edeaea;
	margin-top:0px;
	border-radius: 0px;
	background-color: #170d0dcc;
}

.btn, .btn-success, .btn-danger{
	border-radius: 0px;
}

.navbar-brand{
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}


.navbar-default .navbar-brand {
	color:#edeaea;
}

.navbar-default .navbar-brand:hover{
	color:#edeaea;
}

.navbar-default .navbar-nav > li > a {
	color:#edeaea;
}

.navbar-default .navbar-nav > li > a:hover {
	color:#edeaea;
	background-color: #d9534f;

}

.navbar-default .accountnav > li > a:hover {
	color:#edeaea;
	background-color: #5cb85c;

}
input{
	color: #595151;
}

.modal-footer{
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: #170d0dcc;

}

.modal-footer a {
	color:#edeaea;
}

.navbar-default{
	background-color: #170d0dcc;
}

.sidebar{
	background-color: #170d0dcc;
}

.sidebar a{
	color:#edeaea;
	text-decoration-color: #bce8f1;
}

.nav > li > a:focus{
	background-color: transparent;
}

.nav > li > a:hover{
	background-color: transparent;
}

.margin-container{
	margin-bottom: 50px;
}


.forms{
  text-align: center;
}

.forms h1 {
  font-size: 25px;
  font-weight: bold;
}

.forms p, a{
  font-size: 14px;
  text-align: center;
	color: white;
}
.forms p, a:hover{
	 color: #f3f3f3;
 }

.forms a:hover{
	 color: #f3f3f3;
 }

.forms input            {
  text-align: center;
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus       { outline:none; }

/* LABEL ======================================= */
.forms label             {
  color:#999;
  font-size:10px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.forms input:focus ~ label, input:valid ~ label       {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.forms button{
  display: inline-block;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
   color: #fff;
   background-color: #5cb85c;
   border-color: #4cae4c;
}

.forms > p > a{
	 color: white;
 }

